<div class="bg1">
  <section class="wrapper">
  	<div class="container">

		<h1>CHEF</h1>
		<p>ici les tabs : prez / menu / suprise</p>
		<!-- Tab links -->
		<button class="tablink" onclick="openPage('Home', this, 'red')">Home</button>
		<button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">Menu</button>
		<button class="tablink" onclick="openPage('Contact', this, 'blue')">Surprise</button>

		<div id="Home" class="tabcontent">
		  <h3>Home</h3>
		  <p>Home is where the heart is..</p>
		</div>

		<div id="News" class="tabcontent">
		  <h3>News</h3>
		  <p>Some news this fine day!</p> 
		</div>

		<div id="Contact" class="tabcontent">
		  <h3>Contact</h3>
		  <p>Get in touch, or swing by for a cup of coffee.</p>
		</div>

		<div id="About" class="tabcontent">
		  <h3>About</h3>
		  <p>Who we are and what we do.</p>
		</div>
		<br>
		<br>
		<p>ici le carroussel</p>

	</div>
  </section>
</div>